*.d
*.o
*.out
*.log
*.swp
*.pdf
*.exe
.vscode
.vscode/settings.json
.DS_Store
.idea
cachegrind.out*
webserv_2_0.exe
webserv_3_0.exe
webserv_2_0
webserv_3_0
ubuntu_tester
ubuntu_cgi_tester
cgi_tester
webserv
server
tester
version_2_0/obj
script_tester/ubuntu_tester
script_tester/cgi_tester
ubuntu_cgi_tester
zero_sort/ClientHttp_home_tester
zero_sort/test_dir_exec
epollin.c
epollin
epollout.c
epollout
clientHttp
httpServer
ClientServer
compil.log
cgi_runner
cgi_runner.cpp
welcome.php
welcome.pl
welcome.py
perl_test.sh
php_test.sh
python_test.sh
log.txt
epoll_cgi.cpp
bin
json_validator
json_parser
nginx.conf
config_ja.json
*copy
Makefile_ja
config/config_ja.json

big_daddy.txt
